@using Prototyping.Ipsum @* See http://www.responsiveMVC.net/prototyping *@
@{
    ViewBag.Title = "Index";
}
<header id="master-header">
    <div class="grid">
        <h1 class="col third">Example</h1>
        <nav class="col two-thirds" id="primary">
            @Html.Ipsum().ul(links: true)
        </nav>
    </div>
</header>
<div class="grid" id="main-content">
    <nav class="col third" id="secondary">
        @Html.Ipsum().ul(links: true)
    </nav>
    <section class="col two-thirds">
        <header>
            <h1 class="section-heading">Section Heading</h1>
            <p>A short description of this section.</p>
        </header>
        <article>
            <header>
                <h1>Article Header</h1>
                <time datetime="2010-08-07 11:11:03-0400" pubdate>08-07-2010</time>
                <p>
                    By <span>Authors Name</span>
                </p>
            </header>
            @Html.Ipsum().p().h2().p().h3().p()
            <footer>
                @Html.Ipsum().p(2)
            </footer>
        </article>
    </section>
</div>
<footer id="master-footer">
    <div class="grid">
        <section id="copyright" class="col full">@Html.Ipsum().p()</section>
    </div>
</footer>
